---
title: brand_page.meta.title
description: brand_page.meta.description
permalink: /brand/
---

<!DOCTYPE html>
<html lang="en">
<head>
	{% include meta.html %}
	{% include stylesheets.html %}
	{% include head_javascripts.html %}
</head>
<body id="brand" data-spy="scroll" data-target=".navbar" data-offset="70" data-page="brand">
	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
							<h2><sup><strong>&nbsp{% t brand_page_navbar.back %}</strong></sup></h2>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right navbar-main">
							<li>
								<a href="#guide" data-id="guide" class=" scroll-link" title="{% t brand_page_navbar.guidelines %}">
									{% t brand_page_navbar.guidelines %}
								</a>
							</li>
							<li>
								<a href="#assets" data-id="assets" class=" scroll-link" title="{% t brand_page_navbar.assets %}">
									{% t brand_page_navbar.assets %}
								</a>
							</li>
							<li>
								<a href="#contact" data-id="contact" class=" scroll-link" title="{% t brand_page_navbar.join %}">
									{% t brand_page_navbar.join %}
								</a>
							</li>
							<li>{% include language_selector_navbar_item.html %}</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
	<!-- End Header -->

	<!-- Begin About -->
	<section id="guide" class="background1 section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 section-title text-center">
					<h2>{% t page.title %}</h2>
					<span class="section-divider"></span>
				</div><!-- /.column -->
			</div><!-- /.row -->
			<div class="row mb30">
				<div class="col-sm-9">
					<h5 class="heading-1 mb20">{% t brand_page.why %}</h5>
					<p class="lead no-margin">{% t brand_page.why_explanation %}</p>
				</div><!-- /.column -->
				<div class="col-sm-3 mt30-xs">
					<div>
						<h5 class="heading-1 mb20">{% t brand_page.download %}</h5>
						<p class="no-margin">{% t brand_page.manual %}</p><br>
						<a href="https://github.com/zumcoin/brand/blob/master/ZumCoin_Brand_Manual.pdf" class="btn btn-default">{% t brand_page.latest_version %}</a>
					</div>
					<div class="mt10">
						<a href="https://github.com/zumcoin/brand/" class="btn btn-default">{% t brand_page.contribute_on_github %}</a>
					</div>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.section -->
	<!-- End About -->

		<!-- Begin Our Process Title -->
		<div id="assets"></div>
		<div id="our-process-title" class="pt30 pb30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h4 class="no-margin">{% t brand_page.download_assets %}</h4>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process Title -->

		<!-- Begin Our Process -->
		<div id="our-process">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div>
							<div class="process-intro">
								<h3 class="process-number">Wordmark</h3>
								<div><img src="/images/logos/zumcoin_stacked_white@2x.png" alt="ZumCoin Logo" width="40%"></div>
							</div>
							<div class="process-content">
								<div>
									<img src="/images/logos/zumcoin_wordmark_white@2x.png" alt="ZumCoin Logo" width="75%">
								</div>
								<h4 class="mt15 mb20">Standard Wordmark Pack</h4>
								<p class="no-margin">
									<a href="https://github.com/zumcoin/brand/raw/master/logo/web/zumcoin_wordmark_web.zip" class="btn btn-default">Web</a>
								</p>
								<h4 class="mt15 mb20">Vertical Stacked Pack</h4>
								<p class="no-margin">
									<a href="https://github.com/zumcoin/brand/raw/master/logo/web/zumcoin_stacked_web.zip" class="btn btn-default">Web</a>
								</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
						<div>
							<div class="process-intro">
								<h3 class="process-number">Symbol</h3>
								<div><img src="/images/logos/zumcoin_symbol_white@2x.png" alt="ZumCoin Symbol" width="35%"></div>
							</div>
							<div class="process-content">
								<div>
									<img src="/images/logos/zumcoin_symbol_white@2x.png" alt="ZumCoin Symbol" width="35%">
								</div>
								<h4 class="mt15 mb20">Symbol Pack</h4>
								<p class="no-margin">
									<a href="https://github.com/zumcoin/brand/raw/master/logo/web/zumcoin_symbol_web.zip" class="btn btn-default">Web</a>
								</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
					<div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
						<div>
							<div class="process-intro">
								<h3 class="process-number">Icon</h3>
								<div><img src="/images/logos/zumcoin_icon_white@2x.png" alt="ZumCoin Icon" width="auto" height="auto" style="padding: 1.5em 3em; width:13.1em"></div>
							</div>
							<div class="process-content">
								<div>
									<img src="/images/logos/zumcoin_icon_white@2x.png" alt="ZumCoin icon" width="auto" height="auto" style="padding: 1.5em 3em; width:13.1em">
								</div>
								<h4 class="mt15 mb20">Icon Pack</h4>
								<p class="no-margin">
									<a href="https://github.com/zumcoin/brand/raw/master/logo/web/zumcoin_icon_web.zip" class="btn btn-default">Web</a>
								</p>
							</div>
						</div><!-- /.animation -->
					</div><!-- /.column -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.div -->
		<!-- End Our Process -->

	{% include contact.html background="background1" %}
	{% include footer.html background="background2" %}

	<!-- Javascript Files -->
	{% include body_javascripts.html %}
</body>
</html>

