<link href="https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700" rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

{% css_asset_tag application %}
  - css/bootstrap.min.css
  - css/ionicons.min.css
  - css/pe-icon-7-stroke.css
  - css/magnific-popup.css
  - css/logoiconfont.css
  - css/style.css
  - css/colors/green.css
{% endcss_asset_tag %}
